@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons');
@import '~sweetalert2/src/variables';
@import '~@sweetalert2/theme-material-ui/material-ui.scss';
@import '~vue-material/dist/vue-material.min.css';
@import '~vue-material/dist/theme/default.css';
@import "~include-media/dist/_include-media.scss";
@import '~sweetalert2/src/sweetalert2';
@import "vars";

body {
  height: 100%;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.md-app-content {
  padding: 0;
  margin: 0;

  >div {
    width: 100%;
    height: 100%;
  }
}

// notificaçoes

.toast-error {
  width: 50vw !important;

  @include media(">=phone", "<tablet") {
    width: 90vw !important;
  }

  div:first-child {
    width: 100%;
  }

  #swal2-title {
    color: $cinza;
    font-size: 0.8rem;
  }
}


.disable-scrollbars {
  //noinspection CssUnknownProperty
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}
